<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.my_gallery">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <application
        android:allowBackup="true"
        android:label="My Gallery"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">


        <!-- Main Activity -->
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Detail Activity -->
        <activity android:name=".DetailActivity"/>




        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.my_gallery.provider"
            android:exported="false"
            android:grantUriPermissions="true">


            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>


    </application>
</manifest>
